@import './../../../shared.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $banner-height-large;
  background-image: url(./../../../assets/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  z-index: 100;
}

.title {
  height: $title-height;
  margin-top: 10px;
  margin-right: 20px;
}

.horizontal-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.side-menu-toggle {
  position: absolute;
  left: 20px;
  top: 28px;
  font-size: 50px;
  cursor: pointer;

}

.side-menu-toggle a {
  color: white;
}

app-side-menu {
  position: absolute;
  display: none;
  top: $banner-height-small;
  left: 0;
  z-index: 1000;
}

.side-menu-mask {
  z-index: 99;
  position: fixed;
  top: 0;left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $side-menu-mask-bg;
}

.log-in-out {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;

  button {
    border-radius: 0;
  }
}

@media only screen and (max-width : $break-point-width) {
  .title{
    height: $title-height-lower;
  }
  .header {
    height: $banner-height-small;
  }

  .side-menu-toggle {
    display: inline-block !important;
  }

  app-side-menu {
    top: $banner-height-small;
    display: block;
  }

  .slider {
    overflow-y: hidden;
    max-height: 500px; /* approximate max height */

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .slider.closed {
    max-height: 0;
  }

  .log-in-out {
    bottom: 5px;
    right: 5px;

    button {
      font-size: x-small;
      padding: 5px 15px;
      height: 25px;
    }

  }
}

@media only screen and (max-width : $break-small) {
  .title{
    height: $title-height-lowest;
  }

  .header {
    height: $banner-height-smallest;
  }

  app-side-menu {
    top: $banner-height-smallest;
  }


  .side-menu-toggle {
    margin-top: -7px;
    margin-left: -7px;
    font-size: 30px;
  }

  .log-in-out {
    bottom: 3px;
    right: 3px;

    button {
      font-size: xx-small;
      font-size: x-small;
      padding: 2px 7px;
      height: 20px;
    }

  }

}

@media only screen and (min-width : $break-point-width) {
  .hide-on-sidemenu-off {
    display: none;
  }

  .side-menu-toggle {
    display: none;
  }
}
