@import './../../../../shared.scss';

$key-field-height: 29px;
$label-width: 100px;

.input-group {
  width: 100%;
  margin-top: 3px;
  border: 1px solid $panel-border-color;
}

.key-field-container {
  height: $key-field-height;
  border: 1px solid lightgray;
}

.key-field-label {
  display: inline-block;
  text-align: center;
  width: $label-width;
  color: $title-text-color;
  background-color: $title-background-color;
  height: $key-field-height;
  padding-top: 4px;
}

.key-edit-btn {
  font-size: 12px;
}

.edit-btn-field {
  width: 20px;
  margin-right: 9px;
}

.langl-col {
  padding: 2px;
  vertical-align: middle;
  background-color: #5bc0de;
  color: black;
}

.text-col {
  padding: 5px;
  width: 100%;
  min-height: $key-field-height;
  border: 1px solid lightgray;
}
