<div>
  <div class="label-bar">
    <div class="small-width fields title">
      <div class="id-field">{{screenText.id}}</div>
      <div class="key-field">{{screenText.key}}</div>
      <div class="edit-btn-field">{{screenText.space}}</div>
    </div>
    <div class="large-width fields title">
      <div class="id-field">{{screenText.id}}</div>
      <div class="key-field">{{screenText.key}}</div>
      <div class="created-by-field">{{screenText.createdBy}}</div>
      <div class="created-on-field">{{screenText.createdOn}}</div>
      <div class="last-edited-by-field">{{screenText.lastEditedBy}}</div>
      <div class="last-edited-on-field">{{screenText.lastEditedOn}}</div>
      <div class="edit-btn-field">{{screenText.space}}</div>
    </div>
  </div>

  <div *ngFor="let item of list">
    <div class="input-group">
    <div>
      <div class="small-width fields content">
        <div class="id-field">{{item.id}}</div>
        <div class="key-field"><span *ngIf="!item.editing">{{item.contentKey}}</span><span *ngIf="item.editing"><input [(ngModel)]="item.contentKey"></span></div>
        <div class="edit-btn-field"><button (click)="toggleEditing(item)"><span class="glyphicon glyphicon-edit"></span></button></div>
      </div>
      <div class="large-width fields content">
        <div class="id-field">{{item.id}}</div>
        <div class="key-field"><span *ngIf="!item.editing">{{item.contentKey}}</span><span *ngIf="item.editing"><input [(ngModel)]="item.contentKey"></span></div>
        <div class="created-by-field">{{item.createdBy}}</div>
        <div class="created-on-field">{{item.createdOn}}</div>
        <div class="last-edited-by-field">{{item.lastEditedBy}}</div>
        <div class="last-edited-on-field">{{item.lastEditedOn}}</div>
        <div class="edit-btn-field"><button (click)="toggleEditing(item)"><span class="glyphicon glyphicon-edit"></span></button></div>
      </div>
    </div>
    <div class="fields">
      <div class="id-field">ZH</div>
      <div class="input-field"><span *ngIf="!item.editing">{{item.contentZH}}</span><span *ngIf="item.editing"><input [(ngModel)]="item.contentZH"></span></div>
    </div>
    <div class="fields">
      <div class="id-field">EN</div>
      <div class="input-field"><span *ngIf="!item.editing">{{item.contentEN}}</span><span *ngIf="item.editing"><input [(ngModel)]="item.contentEN"></span></div>
    </div>
  </div>
</div>
</div>

