ul {
  max-width: 140px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid red;
  background-color: rgba(130, 130, 30, 0.5);
}

li {
  cursor: pointer;
  border: 1px solid white;
  border: 1px solid red;
}

li a {
  display: block;
  color: black;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

