@import './../../../../shared.scss';

.menu-container {
  z-index: 998;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  cursor: pointer;
  float: left;
  padding: 5px 5px;

}

li > a::after {
  content: ' |';
}

li:last-child > a::after {
  content: '';
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width : $break-point-width) {
  .menu-container {
    display: none;
  }
}
