$break-point-width: 640px;
$break-point-width1: 640px;
$break-small: 410px;
$banner-height-large: 180px;
$banner-height-small: 110px;
$banner-height-smallest: 80px;


$side-menu-mask-bg: rgba(25, 25, 150, 0.5);

$title-height: 110px;
$title-height-lower: 80px;
$title-height-lowest: 50px;

